body{
    font-family: 'Roboto', sans-serif;
    color: #742204;
    font-size: 0.8rem;
}
header{
    padding: 1rem;
    background-color: #fef7e2; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    
}

.nav{
    padding: 0.8rem;
    background-color: #ffdf7f;
    border-radius: 3rem;
    text-decoration: none;
    color: #742204;
    font-size: 0.7rem;
    
}

.shop{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    margin-block: 1.8rem;
}

#cards{
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
}
.card{
    margin-inline: auto;
    max-width: 48%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius:60px;
    background-color: #fef7e2;
    align-items: center;
    display: flex;
    

    

}

.card img{
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    width: 100%;

}
.description{
   
    justify-content: center;
    gap: 50px;
    display: flex;
}



.items h2{
    font-weight: bold;
    display: inline-block;
    margin-bottom: auto;
    font-size: 1rem;
    
}

.items p{
    font-weight: lighter;
    font-size: 1rem;
    display: inline-block;
    margin-top: 0.2rem;
    font-size: 0.7rem;

}

.prezzo{
  margin-right: 1rem ;
  font-size: 1rem;
  padding-top: 0.5rem;
}
.add{
    font-weight: bold;
    background-color:#ffdf7f ;
    font-size: 0.8rem;
    width: 7rem;
    padding: 0.5rem 1rem  ;
    border-radius: 4rem;
    margin-inline: auto;
    margin-bottom: 0.7rem;
    text-decoration: none;
    color: #742204;
}

h3{
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
}
.articolo{
background-color: #fef7e2;
padding: 1.5rem;
border-radius: 25px;
display: flex;
flex-direction: column;
}

.titArt{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.1rem;

}

.imgArt{
    width: 100%;
}

/*mobile view */
@media screen and (min-width: 300px) and (max-width: 575px) {

header{
   flex-direction: row;
   border-radius: 100px;
   max-width: 90%;
   margin: 0 auto;
   flex-wrap: wrap;
    
}

.shop{
    order: -1;
    width: 450px;
    font-size: 2rem;
    padding-inline: 0.2rem;
    padding-block: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    border-radius: 80px;
    align-content: center;
}

.secondo{
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    padding-inline: 0.2rem;
    padding-block: 1.5rem;
    margin:0.5rem 0.7rem ;

}
.titolo{
    display: flex;
    flex-wrap: wrap;
    
    
}
h1{
   margin: 3rem auto; 
   font-size: 2.5rem;
   width: 250px;
   text-align: center;
   line-height: 2.4rem;
}

.cards{
    flex-wrap: nowrap;
    flex-direction: column;

}

.card{
   max-width: 550px;

}

.description{
    display: flex;    
}

.items{
   flex-wrap: wrap; 
   
}

.items h2{
    font-size: 1.8rem;
}

.items p{
    font-size: 1.6rem;
}
.prezzo{
    font-size: 1.5rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
}

.add{
   width: 20rem; 
   padding: 0.7rem 0;
   font-size: 1.2rem;
}

h3{
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
}

.titArt{
    font-size: 1.8rem;
}

.testo{
    font-size: 1.2rem;
}

}